<%= form_for(@price_earning) do |f| %>
  <% if @price_earning.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@price_earning.errors.count, "error") %> prohibited this price_earning from being saved:</h2>

      <ul>
      <% @price_earning.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :earnings %><br>
    <%= f.number_field :earnings %>
  </div>
  <div class="field">
    <%= f.label :petotal %><br>
    <%= f.number_field :petotal %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
